*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style: none;
}

nav .nav,nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*intro section*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white ;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;

}

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#info>h2{
	margin-bottom: 1rem;
}
#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: text-top;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 150px;

}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer>div{
	vertical-align: text-top;
	display: inline-block;
	width: 20%;
	padding: 5px;
	color: white;
	margin-left: 30px;

}

#pre-footer{
	background-color: #08295F;
}

footer>span{
	border-left: 6px;
	height: 3px;
	position: absulute;
	color: black;
	padding-left: 15px;
}

.vl{
	border-left: 1px solid black;

}